{
  "txOperatorMnemonic": "",
  "txOperatorMnemonicPw": "",
  "recipient": "",
  "amountNanoERGPerBox": 1500000,
  "amountBoxes": 2100,
  "txFeeNanoERG": 3000000,
  "nodeUrl": "http://213.239.193.208:9053",
  "apiUrl": "https://api.ergoplatform.com",
  "addressIndex": 0,
}
