{
  "txOperatorMnemonic": "",
  "txOperatorMnemonicPw": "",
  "nodeUrl": "http://168.138.185.215:9052",
  "apiUrl": "https://tn-ergo-explorer.anetabtc.io",
  "minTxOperatorFee": 1000000,
  "minMinerFee": 1000000
}
